<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbux.wfm.face.punch">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/siren_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/siren_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.sbux.wfm.face.punch.splash.SplashSleep">

        <activity android:name="com.sbux.wfm.face.punch.splash.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sbux.wfm.face.punch.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.sbux.wfm.face.punch.activity.PopupActivity" android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="com.sbux.wfm.face.punch.activity.RegistrationActivity" android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="com.sbux.wfm.face.punch.activity.PunchActivity" android:theme="@style/AppTheme.CustomTheme" />
    </application>
</manifest>
